@media (max-width: 1060px) {

header{
    flex-direction: column;
}

.links li button{
    height: 40px;
}

.header2{
    padding: 10px;
}

.busca{
    padding: 20px 0 0 40px;
}

.bar .meio{
    padding: 0 20px 0 20px;
}

main{
    padding: 0;
}

main .fristList, main .secondList, main .thidList{padding-left: 10px;}

.listPos li, .listExt li, .listCap li{
    width: 390px;
}

li .left{
    width: 10px;
}

li .right{
    width: 20px;
}

.ab .meio{
    margin-left: 0;
    padding: 5px;
}

footer{
    padding: 20px;
    margin: 20px;
    
}

footer .topicos{
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}

}