*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    font-weight: 500;
}

h1, h2, h3, h4, h5,h6{
    color: #3d3d3d;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #efefef;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#a{
    margin-top: -5px;
}

#b{
    margin-top: -3px;
}

header .links{
    margin-right: 10px;
}

li{
    list-style: none;
}

.links li button{
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: #a30000 1.5px solid;
    color: #a30000;
    font-size: 12px;
    height: 25px;
    font-weight: bolder;
}

.links li button:hover{
    background-color: #a30000;
    color: white;
}

.header2{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60vw;
    height: 40px;
    border: #b4b4b4 1px solid;
    border-radius: 8px;
}

.header2 div img{
    margin-right: 10px;
}

.header2 div input{
    padding: 5px;
    height: 35px;
    margin: 2px 0 1px 2px;
    border: none;
    outline: none;
    width: 90%;   
}

.bar{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    background-color: #a30000;
    padding: 5px;
}

.bar button{
    background-color: transparent;
    border: none;
    margin-right: 23px;
    color: white;
    padding: 5px;
}

.bar .meio{
    border-right: 1px white solid;
    border-left: 1px white solid;
    padding: 0 40px 0 40px;
}

main{
    padding: 20px 60px;
}

.busca{
    color: #454545;
}

.resul{
    margin: 30px auto 15px auto;
    padding-left: 70px;
}
.resul span{
    font-weight: bolder;
}

p span{
    font-weight: bolder;
    color: black;
    
}

main .fristList, main .secondList, main .thidList{padding-left: 70px;}

.listPos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fristList h4, .secondList h4, .thidList h4{
    margin-bottom: 10px
}

.listPos li, .listExt li, .listCap li{
    border: 1px rgb(255, 255, 255) solid;
    width: 60vw;
    margin-bottom: 20px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);   
    background-color: #99999910;
    display: flex;
    align-items: center;
    /* padding: 20px 30px; */
}

.ab{
    justify-content: space-between;
}

li .left{
    height: 100px;
    width: 20px;
    background-color: #a30000;
}

li .right{
    width: 50px;
    background-color: #a30000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li .meio{
    margin-left: 2vw;
}
 
.ab .meio{
    margin-left: -23vw;
}

.listPos li:hover, .listExt li:hover, .listCap li:hover{background-color: white;}

.container{
    display: flex;
    margin-top: 10px;
}

.time{
    border: #999999 1px solid;
    border-radius: 8px;
    font-size: 10px;
    padding: 5px;
    margin-right: 20px;
}

.value{
    border: #999999 1px solid;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
    background-color: #a30000;
    color: rgb(255, 255, 255);
}

.value span{
    font-weight: bolder;
    color: white;
}

.ext, li .green{background-color: #28a745;}

.cap, li .yellow{background-color: #ffc107;}


footer{
    padding-left: 130px;
}

footer .topicos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer .topicos h2, h3{
    margin: 10px 0 20px 0;
}

footer .thereeListFooter .email, 
footer .thereeListFooter .phone,
footer .thereeListFooter .whatsapp {display: flex; margin-bottom: 10px; }

footer .thereeListFooter .email::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/Educamais/imagens/o-email.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

footer .thereeListFooter .phone::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/Educamais/imagens/telephone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

footer .thereeListFooter .whatsapp::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/Educamais/imagens/whatsapp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
